@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-color: rgb(218, 216, 216);
  --background-color: rgb(34, 34, 34);
  --wrong-font-color: #ff324d;
  --button-bg-color: rgb(255, 221, 70);
  --font-size-normal: 25px;
  --font-size-small: 20px;
  --font-size-heading: 31.25px;
  --user-name-limit: 20ch;
  --wrong-word: rgb(255, 50, 77);
}

.light {
  --font-color: rgb(17, 17, 17);
  --background-color: rgb(230, 216, 216);
  --logo-color: rgba(0, 0, 0, 0.658);
  background-color: var(--background-color);
  color: var(--font-color);
  --lb-header-bg-color: rgb(29, 29, 29);
  --lb-header-color: rgb(255, 237, 234);
  --lb-list-item-bg-color: var(--lb-header-color);
  --lb-list-item-color: var(--lb-header-bg-color);
  --correct-word: rgb(206, 158, 1);
}

.dark {
  --font-color: rgb(218, 216, 216);
  --background-color: rgb(34, 34, 34);
  --correct-word: rgb(255, 213, 73);
  --logo-color: rgba(255, 213, 73, 0.616);
  --lb-header-bg-color: rgb(255, 243, 230);
  --lb-header-color: rgb(24, 25, 26);
  --lb-list-item-bg-color: var(--lb-header-color);
  --lb-list-item-color: var(--lb-header-bg-color);
  background-color: var(--background-color);
  color: var(--font-color);
}

@media only screen and (max-width: 500px) {
  :root {
    --font-size-normal: 0.9rem;
    --font-size-small: 0.7rem;
    --font-size-heading: 1.5rem;
  }
}
