body{
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
    color: var(--font-color-dark);
    font-size: 2rem;
}


input{
    display: block;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #ffffff;
    max-width: 300px;
    font-size: 20px;
}


.nav{
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 2rem;

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav>header{
    opacity: .1;
}

.nav>.icons>a{
    text-decoration: none;
}

.icons{
    padding: .5rem;
    border-radius: 10px;
    border: solid .5px #ffffff7e;
}

.container{
    min-width: 300px;
    width: 700px;
    max-width: 65%;
}

.containerStats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.text{ position: relative}

footer{
    position: absolute;
    font-size: 20px;
    width: 100%;
    text-align: center;
    bottom: 1rem;
    left: 0;
    opacity: .1;
}

.blink{
    border:  solid white;
    border-width: 0 2px 0 0;
    animation: blink 1.5s steps(2) infinite;
}

.btn{
    width: 100px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    font-size: 20px;
    color: black;
    padding: 2.5px 5px;
    margin-right: 5px;
}

.btn:active{
    transform: translateY(3px);
    filter: brightness(.7);
}

/* -----------------------------------------------PROFILE TAB */
.profile , .settings{
    position: absolute;
    min-width: 500px;
    min-height: 200px;
    z-index: 2;
    background-color: inherit;
    color: inherit;
    border-radius: 10px;
    border: solid .5px #ffffff7e;
}

.windowTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px 0;
    padding: 0.5rem 0.5rem;
    font-size: 20px;
}

.windowTop>.options{
    display: flex;
    align-items: center;
}

.routs{
    background-color: inherit;
    color: inherit;
}

.stats{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 200px;
    background-color: inherit;
    color: inherit;
}

.stats::after{
    content: 'type-master';
    position: absolute;
    bottom: .2rem;
    right: .5rem;
    font-size: 20px;
    opacity: .3;
}

.stats>.name{
    text-align: center;
    width: 100%;
    padding: .5rem 1rem;
}

.stats>.topSpeed{
    text-align: center;
    width: 100%;
    padding: .5rem 1rem;
}

.profile>.footer{
    display: flex;
    width: 100%;
    padding: 1rem 1rem;
}

.saveStats{
    width: fit-content;
}

.theme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.themeLight::before{
    content: " ";
    display: inline-block;
    border: solid 2px white;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 50%;
    margin:  0 2rem;
    background-color: var(--background-color-light);
}

.themeDark::before{
    content: " ";
    display: inline-block;
    border: solid 2px white;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 50%;
    margin:  0 2rem;
    background-color: var(--background-color-dark);
}

/* login module  */
.signUp , .login{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

@keyframes blink {
    0%{
        border-color: transparent;
    }
}


.hide{
    display: none !important;
}

/* have a nice day  */