body {
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--font-size-normal);
  transition: 200ms ease-in-out;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--correct-word);
}

.mainBody {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

input {
  display: block;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
  color: var(--font-color);
  max-width: 300px;
  font-size: var(--font-size-small);
}

span {
  border: solid;
  border-color: transparent;
  border-width: 0 0 3px 0;
}

.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2rem;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav > header {
  color: var(--logo-color);
  font-size: var(--font-size-heading);
  cursor: pointer;
}

.nav > .icons > a {
  text-decoration: none;
}

.icons {
  padding: 0.5rem;
  border-radius: 10px;
  border: solid 0.5px;
  border-color: invert;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 2rem;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* floating username  */
.username,
.links {
  opacity: 0.7;
  padding: 0.5rem;
}

.links {
  cursor: pointer;
  font-size: var(--font-size-small);
}

.footer > .links {
  color: var(--github-color);
}

/* floating info */

.infoPopup {
  position: absolute;
  display: block;
  padding: 0.5rem;
  font-size: var(--font-size-normal);
  color: var(--correct-word);
  background-color: var(--background-color);
  border: 2px solid;
  border-color: var(--infoPopup-border-color);
  border-radius: 5px;
  z-index: 1;
  top: 20vh;
  animation: blink 0.7s steps(2) infinite;
  transition: opacity 200ms ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40vh;
  gap: 1rem;
  transform: translateY(-3rem);
  min-width: 300px;
  width: 700px;
  max-width: 65%;
  height: 60vh;
  align-items: center;
  user-select: none;
  font-size: var(--font-size-normal);
}

.container > .text {
  min-height: 100px;
}
.container > .info {
  opacity: 0.6;
  transition: 500ms ease-in-out;
  text-align: center;
  height: fit-content;
}

/* multiplayer layout */
.mpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 400px;
  min-width: 300px;
  text-align: center;
  font-size: var(--font-size-small);
  padding-top: 2rem;
  border-left: 1px solid;
  transition: 200ms;
  right: 0;
  position: relative;
}

.mpContainerHeader {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lb-header-bg-color);
  color: var(--lb-header-color);
  box-shadow: 2px 2px 5px rgb(11, 12, 12);
  font-size: var(--font-size-normal);
  width: 100%;
  text-transform: uppercase;
}

.joinRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: max-content;
  border-bottom: 1px solid;
  width: 100%;
  min-width: 300px;
}

.joinRoom span {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.joinRoom .roomId {
  flex: 1;
  width: 8ch;
}

.roomHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: max-content;
  border-bottom: 1px solid;
  width: 100%;
  min-width: 300px;
}

.roomId {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  color: initial;
  width: 100%;
  font-size: var(--font-size-small);
}

.copyRoomId {
  display: grid;
  place-content: center;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  opacity: 0.65;
  font-size: var(--font-size-small);
  position: relative;
}

.copyRoomId:hover::after,
.copyRoomId:hover::before {
  visibility: visible;
}

.copyRoomId:hover {
  opacity: 1;
}

.copyRoomId:active {
  transform: translate(-0.5px, 1px);
}

.playArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  max-height: 250px;
}

.player {
  display: flex;
  gap: 5px;
  height: 32px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.player .playerName {
  font-size: var(--font-size-small);
  max-width: 150px;
  width: fit-content;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: flex-end;
  position: absolute;
}

.player .playerProgress {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  position: relative;
}

.player .playerSpeed {
  width: 3ch;
}

.nextBtn {
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  font-size: var(--font-size-small);
  position: relative;
}

/* tool tip  */

.words,
.speed {
  position: relative;
}

.words::after {
  content: "Total Words/Typed Words";
  font-size: var(--font-size-small);
  visibility: hidden;
  width: max-content;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-bottom: 0.2em;
  transform: translate(50%);
  z-index: 1;
}

.words::before,
.speed::before {
  content: "";
  visibility: hidden;
  position: absolute;
  margin-top: 0.5rem;
  bottom: 80%;
  right: 50%;
  transform: translate(50%);
  z-index: 1;
  border: 5px solid;
  border-color: transparent;
  border-top-color: initial;
}

.speed::after {
  content: "Words Per Minute";
  font-size: var(--font-size-small);
  visibility: hidden;
  width: max-content;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  right: 0%;
  margin-bottom: 0.2em;
  transform: translate(50%);
  z-index: 1;
}

.nextBtn::after {
  content: "next text";
  visibility: hidden;
  width: max-content;
  background-color: var(--background-color);
  color: var(--font-color);
  text-align: center;
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 5px;
  font-size: var(--font-size-small);

  position: absolute;
  top: 100%;
  right: 50%;
  margin-top: 1rem;
  transform: translate(50%);
  z-index: 1;
}

.nextBtn::before {
  content: "";
  visibility: hidden;
  position: absolute;
  margin-top: 0.5rem;
  top: 100%;
  right: 50%;
  transform: translate(50%);
  z-index: 1;
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: initial;
}

/* Show the tooltip text when you mouse over the tooltip container */
.words:hover::after,
.words:hover::before,
.speed:hover::after,
.speed:hover::before,
.nextBtn:hover::after,
.nextBtn:hover::before {
  visibility: visible;
}

.nextBtn:hover {
  opacity: 1;
}

.nextBtn:active {
  transform: translate(-0.5px, 1px);
}
.nextBtn:active::before,
.nextBtn:active::after {
  visibility: hidden;
}

.containerStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text {
  position: relative;
  width: 100%;
}

footer {
  position: absolute;
  font-size: 20px;
  width: 100%;
  text-align: center;
  bottom: 1rem;
  left: 0;
  opacity: 0.1;
}

.blink {
  border-color: inherit;
  animation: blink 0.7s steps(2) infinite;
}

.btn {
  min-width: fit-content;
  border-radius: 5px;
  border: none;
  background-color: var(--button-bg-color);
  font-size: var(--font-size-small);
  color: black;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
  position: relative;
}

.btn:active {
  transform: translateY(2px);
  filter: brightness(0.7);
}

/* -----------------------------------------------PROFILE TAB */
.profile,
.settings {
  position: absolute;
  max-width: 500px;
  width: 95vw;
  min-width: 300px;
  max-height: 380px;
  min-height: 350px;
  z-index: 2;
  background-color: inherit;
  color: inherit;
  border-radius: 10px;
  border: solid 0.5px;
  border-color: invert;
  padding: 0;
}

.windowTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px 0;
  padding: 0.5rem 0.5rem;
  font-size: 20px;
}

.windowTop > .options {
  display: flex;
  align-items: center;
}

.windowTop > .options:hover {
  cursor: pointer;
}

.windowTop > .move:hover {
  cursor: grab;
}

.routs {
  background-color: inherit;
  color: inherit;
}

.stats {
  position: relative;
  height: 250px;
  background-color: inherit;
  color: inherit;
}

.stats .bg {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.statsText {
  display: block;
  text-transform: capitalize;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.stats .bg .name {
  fill: #e8c23f;
}

.stats .bg .speed {
  fill: #222222;
  text-align: center;
  font-weight: 700;
}

.profile > .footer {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
}

.saveStats {
  width: fit-content;
}

.saveStats:hover {
  cursor: pointer;
}

.settingOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 250px;
  padding: 2rem;
  font-size: var(--font-size-heading);
  gap: 1rem;
}

.themeOptions {
  text-align: center;
  border: 1px solid;
  border-color: invert;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.themeSelector {
  width: 200px;
  padding: 0.5rem;
  font-size: var(--font-size-small);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.themeLight,
.themeDark {
  color: var(--font-color);
  background-color: var(--background-color);
}

.textOptions {
  display: flex;
  font-size: var(--font-size-small);
  justify-content: space-around;
  width: 100%;
  border: 1px solid;
  border-color: initial;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.punctuation,
.smallCase {
  opacity: 0.3;
  flex: 1;
  cursor: pointer;
  transition: opacity 50ms ease-out;
}

.textOptions > div:hover {
  opacity: 0.7;
}

/* login module  */
.signUp,
.signIn,
.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.6rem;
  padding: 2rem;
}

.info,
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  height: 200px;
}

.loader {
  background-image: url("https://media0.giphy.com/media/WVTW6vYXZCQWvUhm0N/giphy.gif?cid=790b76110673f2c92124ae1cd66d7411155b5e55ccf21ffe&rid=giphy.gif&ct=s");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
}

/* leaderboard */
.leaderBoard {
  background: var(--background-color);
  position: absolute;
  margin-top: 4.5rem;
  min-height: 80vh;
  width: 95%;
  display: grid;
  list-style-type: none;
  place-items: center;
  gap: 1rem;
  transition: all 200ms ease-in-out;
  z-index: 3;
}

.content {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  display: grid;
  gap: 0.5rem;
}

.leaderBoardHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lb-header-bg-color);
  color: var(--lb-header-color);
  box-shadow: 2px 2px 5px rgb(11, 12, 12);
  font-size: var(--font-size-heading);
  text-transform: uppercase;
}

.leaderBoardInfo {
  display: flex;
  align-items: center;
  background-color: var(--lb-header-bg-color);
  color: var(--lb-header-color);
  box-shadow: 2px 2px 3px rgb(15, 15, 15);
}

.leaderBoardInfo > .leaderBoardUserName {
  border: solid;
  border-color: invert;
  border-width: 0 2px;
}

.leaderBoardInfo > span {
  flex: 1;
  height: 100%;
  display: grid;
  place-content: center;
}

.leaderBoardListItem {
  display: flex;
  align-items: center;
  background-color: var(--lb-list-item-bg-color);
  color: var(--lb-list-item-color);
  box-shadow: 2px 2px 3px rgb(19, 19, 19);
  height: auto;
}

.leaderBoardListItem > span {
  flex: 1;
  height: 100%;
  display: grid;
  place-content: center;
}

.leaderBoardRank {
  max-width: 100px;
}

.leaderBoardSpeed {
  max-width: 160px;
}

.leaderBoardUserName {
  border: solid;
  border-color: invert;
  border-width: 0 2px;
  max-width: 20ch;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}

/* correct word  */
.correctWord {
  color: var(--correct-word) !important;
}
.wrongWord {
  color: var(--wrong-word);
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.fadeOut {
  opacity: 0 !important;
}

.hide {
  display: none !important;
}

.active {
  opacity: 1 !important;
}

.scale0 {
  overflow-x: hidden;
  min-width: 0;
  width: 0;
  transform: translateX(200px);
  border: 0 solid transparent;
}
/* have a nice day  */
